/*Profile component*/
.profile {
  margin-top: 20px;
  display: flex;
}

.ava {
  margin-right: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  height: 30vh;
  justify-content: space-between;
  font-size: 14px;
}

.name {
}

.bod {
}

.city {
}

.degree {
}

.site {
}
