@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app-wrapper {
  display: grid;
  grid-template-columns: 15vw 85vw;
  grid-template-rows: 10vh 90vh;
  grid-template-areas:
    "header header"
    "nav main";
}

/*Header component*/
.header {
  padding: 10px;
  background-color: lightseagreen;
  grid-area: header;
}

/*Nav component*/
.nav {
  padding: 10px;
  background-color: lightskyblue;
  display: flex;
  flex-direction: column;
  grid-area: nav;
}

.nav-link {
  padding: 10px 0;
  font-size: 16px;
  text-decoration: none;
  color: black;
}

.nav-link:hover {
  font-weight: 600;
  font-size: 18px;
}

.main {
  padding: 10px;
  background-color: lightblue;
  grid-area: main;
}

/*Posts Component*/
.posts {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: 60vw;
}

.post-field {
  margin-top: 20px;
  height: 10vh;
  background-color: lightgrey;
}

.post-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
  width: 100px;
  color: black;
  padding: 10px;
  text-decoration: none;
  background-color: lightseagreen;
}

.post-btn:hover {
  background-color: darkcyan;
  text-decoration: none;
}

/*Profile component*/
.profile {
  margin-top: 20px;
  display: flex;
}

.ava-wrapper {
  margin-right: 10px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  height: 30vh;
  justify-content: space-between;
  font-size: 14px;
}

/*Message component*/
