.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightblue;
  text-align: center;
  height: 10vh;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
